<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/carcas.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="/js/scripts.js" defer></script>
    <script src="/javascripts/scriptsClient.js" defer></script>
    <script src="/javascripts/scriptsCarcas.js" defer></script>
    <title>Каркас</title>
</head>
<body onload="onLoadCarcas()">
<div class="header">
    <!-- Логотип и информация о клиенте -->
    <div class="logo-and-client-info">
        <img id="logo" src="/images/Logo.png" alt="Logo">
        <div class="client-info">
            <p><strong>Клиент:</strong> <%= client.last_name %> <%= client.first_name %> <%= client.second_name %></p>
            <p><strong>Адрес:</strong> <%= client.adress %></p>
            <p><strong>Телефон:</strong> <%= client.phone %></p>
        </div>
    </div>

    <!-- Блок с действиями (стрелка) -->
    <div class="actions">
        <i class="bi bi-arrow-left" onclick="goBack()"></i>
    </div>

    <!-- Заголовок "Каркас" -->
    <h1>Каркас</h1>

    <!-- Блок с именем и должностью -->
    <div class="info">
        <p id="name">Имя Фамилия</p>
        <p id="user-status">Должность</p>
    </div>
</div>

<!-- Поле для ввода адреса и кнопки -->
<div class="address-input-container">
    <input type="text" class="form-control" id="addressInput" placeholder="Добавить адрес объекта строительства">
    <button type="button" class="btn btn-success" id="saveAddressButton">Сохранить</button>
    <button type="button" class="btn btn-danger" id="clearCalculationButton">Очистить расчет</button>
</div>

<!-- Контейнер для исходных данных -->
<div class="source-data-container">
    <h2>Исходные данные</h2>
    <div class="spacer"></div>
    <div class="form-group">
        <label for="floorCount">Количество этажей</label>
        <select class="form-control" id="floorCount">
            <option>1</option>
            <option>2</option>
        </select>
    </div>
    <br>
    <h4 id="floorHeader">1 этаж</h4>
    <div id="floors-container">
        <div class="floor-data">
            <h5>Этаж 1</h5>
            <div class="form-group">
                <label for="floorHeight-0">Высота этажа</label>
                <input type="text" class="form-control" id="floorHeight-0" value="3" placeholder="Введите высоту">
                <span class="unit">м</span>
            </div>
            <div class="form-group">
                <label for="wallPerimeter-0">Периметр внешних стен</label>
                <input type="text" class="form-control" id="wallPerimeter-0" value="30" placeholder="Введите периметр">
                <span class="unit">м</span>
            </div>
            <div class="form-group">
                <label for="baseArea-0">Площадь основания</label>
                <input type="text" class="form-control" id="baseArea-0" value="56" placeholder="Введите площадь">
                <span class="unit">м²</span>
            </div>
            <div class="form-group">
                <label for="wallThickness-0">Толщина внешних стен</label>
                <select class="form-control" id="wallThickness-0">
                    <option>100</option>
                    <option>150</option>
                    <option>200</option>
                    <option>250</option>
                </select>
                <span class="unit">мм</span>
            </div>
            <div class="form-group">
                <label for="innerWallLength-0">Длина внутренних стен</label>
                <input type="text" class="form-control" id="innerWallLength-0" value="15" placeholder="Введите длину">
                <span class="unit">м</span>
            </div>
            <div class="form-group">
                <label for="innerWallThickness-0">Толщина внутренних стен</label>
                <select class="form-control" id="innerWallThickness-0">
                    <option>100</option>
                    <option>150</option>
                    <option>200</option>
                    <option>250</option>
                </select>
                <span class="unit">мм</span>
            </div>
        </div>
    </div>
    <br>

    <!-- Заголовок Обшивки внешних стен -->
    <div class="spacer"></div>
    <h4>Обшивки внешних стен</h4>
    <div class="form-group">
        <label for="osb">ОСБ</label>
        <select class="form-control" id="osb">
            <option>9 мм</option>
            <option>10 мм</option>
            <option>15 мм</option>
            <option>18 мм</option>
        </select>
        <span class="unit">мм</span>
    </div>
    <div class="form-group">
        <label for="vaporBarrier">Парогидроизоляция</label>
        <select class="form-control" id="vaporBarrier">
            <option>Ондутис</option>
            <option>Пароизоляция Axton (b)</option>
            <option>Пароизоляционная пленка Ютафол Н 96 Сильвер</option>
            <option>Пароизоляция В</option>
        </select>
    </div>
    <div class="form-group">
        <label for="windProtection">Ветрозащита</label>
        <select class="form-control" id="windProtection">
            <option>Ветро-влагозащитная мембрана Brane А</option>
            <option>Паропроницаемая ветро-влагозащита A Optima</option>
            <option>Гидро-ветрозащита Тип А</option>
        </select>
    </div>
    <div class="form-group">
        <label for="insulation">Утеплитель</label>
        <select class="form-control" id="insulation">
            <option>Кнауф ТеплоКнауф 100 мм</option>
            <option>Технониколь 100 мм</option>
            <option>Эковер 100 мм</option>
            <option>Эковер 150 мм</option>
            <option>Эковер 200 мм</option>
            <option>Фасад 200 мм</option>
            <option>Эковер 250 мм</option>
        </select>
    </div>
    <br>

    <!-- Добавить расчет обшивки внутренних стен -->
    <div class="add-calculation">
        <i class="bi bi-plus-circle toggle-icon" onclick="toggleSection('innerWalls')"></i>
        <span class="toggle-text">Добавить расчет обшивки внутренних стен</span>
        <div id="innerWalls" class="hidden">
            <div class="form-group">
                <label for="innerOsb">ОСБ</label>
                <select class="form-control" id="innerOsb">
                    <option>9 мм</option>
                    <option>10 мм</option>
                    <option>15 мм</option>
                    <option>18 мм</option>
                </select>
                <span class="unit">мм</span>
            </div>
        </div>
    </div>

    <br>
    <!-- Учесть двери и окна -->
    <div class="spacer"></div>
    <div class="add-calculation">
        <i class="bi bi-plus-circle toggle-icon" onclick="toggleSection('windowsDoors')"></i>
        <span class="toggle-text">Учесть двери и окна</span>
        <div id="windowsDoors" class="hidden">
            <div class="subsection">
                <h5>Оконные проемы</h5>
                <div id="windowsContainer">
                    <div class="window-group">
                        <div class="form-group">
                            <label for="windowHeight">Высота</label>
                            <input type="text" class="form-control" value="1.5" placeholder="Введите высоту">
                            <span class="unit">м</span>
                        </div>
                        <div class="form-group">
                            <label for="windowWidth">Ширина</label>
                            <input type="text" class="form-control" value="1.5" placeholder="Введите ширину">
                            <span class="unit">м</span>
                        </div>
                        <div class="form-group">
                            <label for="windowCount">Количество</label>
                            <input type="text" class="form-control" value="5" placeholder="Введите количество">
                            <span class="unit">шт</span>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" id="addWindowButton">+ Добавить окно</button>
            </div>
            <div class="subsection">
                <h5>Дверные проемы внешние</h5>
                <div id="externalDoorsContainer">
                    <div class="door-group">
                        <div class="form-group">
                            <label for="doorHeight">Высота</label>
                            <input type="text" class="form-control" value="2.1" placeholder="Введите высоту">
                            <span class="unit">м</span>
                        </div>
                        <div class="form-group">
                            <label for="doorWidth">Ширина</label>
                            <input type="text" class="form-control" value="1" placeholder="Введите ширину">
                            <span class="unit">м</span>
                        </div>
                        <div class="form-group">
                            <label for="doorCount">Количество</label>
                            <input type="text" class="form-control" value="1" placeholder="Введите количество">
                            <span class="unit">шт</span>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" id="addExternalDoorButton">+ Добавить дверь</button>
            </div>
            <div class="subsection">
                <h5>Дверные проемы внутренние</h5>
                <div id="internalDoorsContainer">
                    <div class="door-group">
                        <div class="form-group">
                            <label for="innerDoorHeight">Высота</label>
                            <input type="text" class="form-control" value="2" placeholder="Введите высоту">
                            <span class="unit">м</span>
                        </div>
                        <div class="form-group">
                            <label for="innerDoorWidth">Ширина</label>
                            <input type="text" class="form-control" value="0.8" placeholder="Введите ширину">
                            <span class="unit">м</span>
                        </div>
                        <div class="form-group">
                            <label for="innerDoorCount">Количество</label>
                            <input type="text" class="form-control" value="5" placeholder="Введите количество">
                            <span class="unit">шт</span>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" id="addInternalDoorButton">+ Добавить дверь</button>
            </div>
        </div>
    </div>
    <br>

    <!-- Добавить расчет перекрытий -->
    <div class="add-calculation">
        <i class="bi bi-plus-circle toggle-icon" onclick="toggleSection('overlaps')"></i>
        <span class="toggle-text">Добавить расчет перекрытий</span>
        <div id="overlaps" class="hidden">
            <div class="form-group">
                <label for="floorThickness">Толщина перекрытия</label>
                <select class="form-control" id="floorThickness">
                    <option>200</option>
                    <option>250</option>
                </select>
                <span class="unit">мм</span>
            </div>
            <div class="form-group">
                <label for="floorOsb">ОСБ</label>
                <select class="form-control" id="floorOsb">
                    <option>9 мм</option>
                    <option>10 мм</option>
                    <option>15 мм</option>
                    <option>18 мм</option>
                </select>
                <span class="unit">мм</span>
            </div>
            <div class="form-group">
                <label for="floorVaporBarrier">Парогидроизоляция</label>
                <select class="form-control" id="floorVaporBarrier">
                    <option>Ондутис</option>
                    <option>Пароизоляция Axton (b)</option>
                    <option>Пароизоляционная пленка Ютафол Н 96 Сильвер</option>
                    <option>Пароизоляция В</option>
                </select>
            </div>
            <div class="form-group">
                <label for="floorWindProtection">Ветрозащита</label>
                <select class="form-control" id="floorWindProtection">
                    <option>Ветро-влагозащитная мембрана Brane А</option>
                    <option>Паропроницаемая ветро-влагозащита A Optima</option>
                    <option>Гидро-ветрозащита Тип А</option>
                </select>
            </div>
            <div class="form-group">
                <label for="floorInsulation">Утеплитель</label>
                <select class="form-control" id="floorInsulation">
                    <option>Кнауф ТеплоКнауф 100 мм</option>
                    <option>Технониколь 100 мм</option>
                    <option>Эковер 100 мм</option>
                    <option>Эковер 150 мм</option>
                    <option>Эковер 200 мм</option>
                    <option>Фасад 200 мм</option>
                    <option>Эковер 250 мм</option>
                </select>
            </div>
        </div>
    </div>
    <br>

    <!-- Кнопка Рассчитать -->
    <button type="button" class="btn btn-primary" onclick="calculateAndSave()">Рассчитать</button>
</div>
</body>
</html>